{% extends 'base.html' %}

{% block title %}
Пушкинский контакт - О сайте
{% endblock %}

{% block our %}
<div class="wrapper">
    <div class="block">
        <div class="block-about">
            <h1>О сайте</h1>
            <p>
                Пушкинский контакт - лучшая социальная сеть для мира поэзии, сказок и романов Пушкина начиная с XIX веке и по сей день.<br>
                Здесь каждый может почуствовать себя кем-то из творчества Пушкина или же самим Пушкиным. Придумать и написать какую-то мысль от имени Александра Сергеевича или к примеру Дубровского или Кота-Учёного.<br>
                <b>Твоя очередь писать!</b>
            </p>
        </div>
        <div class="block-about">
            <h1>О сайте (техническая часть)</h1>
            <h2>Что было реальзовано?</h2>
            <p>Был реализован функционал написания, сохранения в БД, вывод на сайт записей. Тем самым можно легко расширять количество информации на сайте.
                <br>Записи на главной странице
                расположены в случайном порядке, но могут быть отсортированы по автору (к примеру только записи Кота-Учёного), для
                для этого нужно просто нажать на имя автора и Вам выйдет страница со всеми записями этого автора.
            </p>
            <p>Многостраничность сайта. Множество анимаций.</p>
        </div>
        <div class="block-about">
        <h2>Используваемые технологии</h2>
        <p>Для Front-end я использовал стандарт: HTML5 + CSS3<br>
        А Back-end я написал на Python, решив, что мне здесь не нужен сильный Back-end решил использовать простой Flask</p>
        <h2>Шрифты</h2>
        <p>Для сайта я использовал бесплатые шрифты из библеотеки Google Fonts: PlayfairDisplay и RobotoSlab.</p>
        </div>
    </div>
    <div class="block">
        <ul class="contacts">
            <p ><a style="color: rgb(48, 126, 252);" href="https://e7n-hosting.s3.yandex.net/personal-blog/20688449/index.html">Личный сайт конкурсанта</a></p>
            <p>Почта: As8571474@yandex.ru</p>
            <p>Телефон: +7-919-839-44-27</p>
        </ul>
    </div>
</div>
{% endblock %}